.principalNav {
  background: linear-gradient(
    180deg,
    rgb(0 0 0 / 43%) 0%,
    rgba(3, 110, 156, 0) 100%
  );
  padding: 0 50px;
  position: sticky;
  top: 0;
  z-index: 500;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.principalNav_img {
  width: 100px;
  z-index: 500;
  position: relative;
}
.navButton{
  background: white;
  border-radius: 50px;
  position: relative;
  z-index: 500;
}
.navigation__icon{
  width: 30px;
  height: 30px;
  margin: 13px;
  display: flex;
  position: relative;
  transition: ease-in-out 0.6s;
}
.navigation__icon .topBar {
  width: 30px;
  height: 4px;
  border-radius: 10px;
  display: block;
  position: absolute;
  top: 10%;
  transform: rotate(0);
  transition: all 800ms cubic-bezier(0.9, 0, 0.33, 1);

  animation-name: ChangeBackground;
  animation-duration: 20s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.navigation__icon .middleBar {
  width: 30px;
  height: 4px;
  border-radius: 10px;
  display: block;
  position: absolute;
  top: calc(50% - 1px);
  transform: rotate(0);
  transition: all 800ms cubic-bezier(0.9, 0, 0.33, 1);

  animation-name: ChangeBackground;
  animation-duration: 20s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.navigation__icon .bottomBar {
  width: 20px;
  height: 4px;
  border-radius: 10px;
  display: block;
  position: absolute;
  top: calc(90% - 2px);
  transform: rotate(0);
  transition: all 800ms cubic-bezier(0.9, 0, 0.33, 1);

  animation-name: ChangeBackground;
  animation-duration: 20s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.navigation-open {
  display: block;
  z-index: 100;
  text-align: center;
  transition: ease-in-out 0.6s;
}
.navigation-open .navigation__icon {
  width: 36px;
  height: 36px;
  margin: 10px;
  transition: ease-in-out 0.6s;
}


.navigation-open .topBar {
  width: 36px;
  top: 50%;
  transform: rotate(45deg);
}

.navigation-open .middleBar {
  width: 0;
  top: 50%;
  opacity: 0;
  visibility: hidden;
  transform: translateX(30px);
}

.navigation-open .bottomBar {
  width: 36px;
  top: 50%;
  transform: rotate(-45deg);
}
/*principalNav_Links*/
.principalNav_Links{
  display: flex;
  position: fixed;
  display: flex;
  position: fixed;
  -webkit-clip-path: circle(0 at 96% 50px);
  transition: cubic-bezier(0.42, 0, 0.12, 1.17) 0.6s;
  clip-path: circle(0 at 96% 50px);
  width: 100vw;
  height: 100vh;
  background: #faebd757;
  right: 0px;
  top: 0
}
.principalNav_Links_open{
  clip-path: circle(141.3% at 100% 0);
  transition: cubic-bezier(0.42, 0, 0.12, 1.17) 1s;
  background: #ff9100;
}