.inicioPag {
  position: relative;
  display: flex;
  flex-direction: column;
}
.inicioPag_header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  /* min-height: 750px; */
}
.inicioPag_headerBackgroundContainer {
  position: absolute;
  width: -webkit-fill-available;
  background: rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  margin: 0 50px;
}
.inicioPag_headerBackground {
  z-index: 1;
  height: calc(100vh - 210px) !important;
  /* min-height: 750px; */

  position: relative;
}
.inicioPag_headerContainer {
  position: relative;
  z-index: 1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inicioPag_headerContainer_img {
  width: 20vw;
}
.inicioPag_headerContainer_text {
  margin: 0 40px 0 0;
  width: 50%;
}
.inicioPag_headerContainer_text_h5 {
  font-size: 2vw;
}
.inicioPag_headerContainer_text_h2 {
  font-size: 6vw;
}
/*Services*/
.inicioPag_section_services {
  background: #ffffff;
  display: flex;
  padding: 50px;
  flex-direction: column;
}
.inicioPag_section_services_title {
  align-self: center;
  margin: 20px 0;
  font-size: 30px;
  animation-name: ChangeColor;
  animation-duration: 20s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.inicioPag_section_services_description {
  text-align: justify;
}
.inicioPag_section_card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  width: 25vw;
  justify-content: center;
}
.inicioPag_section_card i {
  font-size: 80px;
  animation-name: ChangeColor;
  animation-duration: 20s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.inicioPag_section_card_title {
  text-align: center;
  margin: 15px 0;
}
.inicioPag_section_card_description {
  text-align: justify;
}
.inicioPag_section_card_container {
  display: flex;
  align-self: center;
}
@keyframes ChangeColor {
  0% {
    color: #9c7103;
  }
  50% {
    color: #03819c;
  }
  100% {
    color: #9c035f;
  }
}
/*inicioPag_section_info*/
.inicioPag_section_info {
  background: #fffffff0;
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.inicioPag_section_info_article {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 65px 0;
}
.inicioPag_section_info_article .inicioPag_section_info_article_relleno{
  padding: 0 50px 0 0;
}
.inicioPag_section_info_article_second .inicioPag_section_info_article_relleno {
  padding: 0 0 0 50px;
}
.inicioPag_section_info_article_board {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
  display: flex;
  align-items: center;
  place-content: center;
  width: 50%;
  /* min-height: 500px; */
  /* height: 300px; */
}
.inicioPag_section_info_article_board img {
  width: 100%;
}
.inicioPag_section_info_article_relleno {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-self: center;
}
.inicioPag_section_info_article_relleno h1 {
  color: #000000b0;
  font-size: 40px;
  margin-bottom: 25px;
}
.inicioPag_section_info_article_relleno p {
  text-align: justify;
  font-size: 18px;

}

@media (max-width: 1000px) {
  .inicioPag_section_info_article {
    flex-direction: column;
    height: auto;
    /* padding: 50px 0 !important; */
  }
  .inicioPag_section_info_article_relleno {
    width: 100%;
    padding: 50px 0 !important;
  }
  .inicioPag_section_info_article_second {
    flex-direction: column-reverse !important;
  }
  .inicioPag_section_info_article_board {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .inicioPag_section_card_container {
    flex-direction: column;
  }
  .inicioPag_section_card {
    width: auto;
    flex-direction: row;
  }
  .inicioPag_section_card_description {
    width: 50%;
  }
  .inicioPag_section_card_title {
    width: 26%;
    margin: 0 45px;
  }
  .inicioPag_section_card i {
    width: 80px;
  }
}
@media (max-width: 800px) {
  .inicioPag_headerContainer {
    flex-direction: column;
    height: 70vh;
  }
  .inicioPag_headerContainer_text {
    margin: 0 0 40px 0;
    width: 70%;
  }
  .inicioPag_headerContainer_text_h5 {
    font-size: 4vw;
  }
  .inicioPag_headerContainer_text_h2 {
    font-size: 10vw;
  }
  .inicioPag_section_info_article_relleno {
    padding: 50px 0;
    align-items: center;
  }
  .inicioPag_section_info_article_relleno h1 {
    text-align: center;
  }
  .inicioPag_section_info_article_board img {
    width: 100%;
    height: auto;
  }
  .inicioPag_section_info_article_board {
    min-height: auto;
    height: auto;
  }
}
@media (max-width: 700px) {
  .inicioPag_section_card_container {
    flex-direction: column;
    margin-top: 10px;
  }
  .inicioPag_section_card {
    width: auto;
    flex-direction: column;
  }
  .inicioPag_section_card_description {
    width: 100%;
  }
  .inicioPag_section_card_title {
    width: auto;
    margin: 0 0 12px 0;
  }
  .inicioPag_section_card i {
    width: 80px;
  }
  .inicioPag_section_info_article_relleno {
    padding: 35px 0;
  }
  .inicioPag_section_info_article_relleno h1 {
    font-size: 40px;
  }
  .inicioButton {
    padding: 15px !important;
  }
}
@media (max-width: 500px) {
  .inicioPag_headerBackgroundContainer {
    margin: 0 20px;
  }
  .inicioPag_section_services {
    padding: 50px 20px;
  }
  .inicioPag_section_info_article_relleno h1 {
    font-size: 30px;
  }
  .inicioPag_section_info {
    padding: 20px;
  }
}

/*max-Height*/
@media (max-height: 1000px) {
  @media (max-width: 1000px) {
    .inicioPag_section_info_article {
      flex-direction: column;
    }
    .inicioPag_section_services {
      padding: 50px 20px;
    }
  }
}
@media (max-height: 600px) {
  .inicioPag_section_info_article {
    min-height: 600px;
  }
  @media (max-width: 1000px) {
    .inicioPag_section_info_article {
      flex-direction: column;
    }
    .inicioPag_section_services {
      padding: 50px 20px;
    }
  }
}
