.app{
  transition: all 600ms;
  animation-name: ChangeBackground;
  animation-duration: 20s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
background: #454545;
}
::-webkit-scrollbar-thumb{
  background: #666666;
}
::-webkit-scrollbar-button{
  background: rgb(255 255 255);
  width: 0px;
  height: 0;
}



@keyframes ChangeBackground {
  0% {
    background: #9C7103;
  }
  50% {
    background: #03819C;
  }
  100% {
    background: #9C035F;
   
  }
}
